* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.page-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;

}

.left {
  flex: 1;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-card {
  width: 50%;
  height: fit-content;
  margin-bottom: 10%;
}

.info-card:nth-child(3){
  margin-bottom: 0;
}

.info-card > h4 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #9a9a9a;
  margin-bottom: 4%;
  font-family: "Montserrat", sans-serif;
}
.info-card > input {
  font-weight: 300;
  font-size: 0.8rem;
  color: white;
  width: 80%;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 1px;
  font-family: "Montserrat", sans-serif;
}

.info-card > a {
  font-size: small;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: white;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid{
  display: flex;
  flex-direction: column;
  height: 45%;
  justify-content: space-between;
}

.hero{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.hero > h3{
  font-size: 1.3rem;
}

.hero > p {
  font-weight: 300;
}

.prettyprinted{
  background-color: transparent !important;
}


.page-2{
  height: 100vh;
  max-width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.page-2 > a{
  justify-self: flex-start;
  font-family: 'consolas';
  color: white;
  text-decoration: none;
  text-decoration: underline;
}

.alrt{
  width: 250px;
  height: 80px;
  background-color: rgb(24, 24, 24);
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 100 ease;
  text-align: center;
  line-height: 80px;
  color: white;
  font-family: 'Montserrat';
  opacity: 0;
}

.page-2 > h1, p{
  font-family: 'Montserrat', sans-serif;
}

input:hover{
  border: 1px solid gray;
}

@media (max-width:700px){
  .page-1{
    flex-direction: column-reverse;
  }
  .right{
    padding: 0%;
  }

  .mid > .hero{
    margin-bottom: 15%;
  }

  .hero{
    padding-left: 5%;
  }

  .code{
    padding-left: 5%;
  }

}